body {
    font-family: Helvetica, arial, sans-serif;
}

/* navbar */

.nav-sony {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav-sony button {
    border-color: lightgray;
}

.img-sony-logo {
    width:7em;
}

.img-play-logo {
    width: 5em;
}

/* returnal */

.bc-returnal {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    width: 100%;
    height: 100vh;
}

/* vertical-align */
.v-align {
    vertical-align: -webkit-baseline-middle;
}


/* font-size */

.p-126 {
    padding-top: 126px;
}

/* height */

.h-30 {
    height: 30px;
}

.h-100 {
    height: 100px;
}
